.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
}

.product-carousel-imgs {
  height: 280px;
  width: 1100px;
}

.carousel-resizing {
  height: 300px;
}
