.about-txt {
  background-color: #c2c5c5;
  border-radius: 2px 65px 2px 65px;
  padding: 5px;
  margin: 0 80px 0 80px;
}

.history-btn {
  background-color: #afcfcf;
  align-items: center;
  margin-left: 60px;
}

.about-content h3 {
  text-align: center;
  background-color: #c2c5c5;
  border-radius: 2px 65px 2px 65px;
  margin: 0 80px 0 80px;
  padding: 5px;
}

.about-navigate-section p {
  margin-top: 15px;
  margin-bottom: 5px;
}

.about-page-body {
  background-color: rgb(224, 159, 106);
}
