.contact-us-img {
  width: 720px;
  height: 180px;
  padding: 0;
  margin: 0;
}

.contact-btn {
  vertical-align: middle;
  justify-content: center;
  margin-top: 70px;
  margin-left: 5px;
}

.contact-us {
  background-color: rgb(245, 241, 241);
}
