.logo-image {
  height: 35px;
  width: 100px;
}

.nav-btn {
  background-color: rgb(185, 181, 181);
}

.font-link-Aboreto {
  font-family: "Aboreto", cursive;
}

.font-link-Explora {
  font-family: "Explora", cursive;
}

.font-link-Satisfy {
  font-family: "Satisfy", cursive;
}
