.copyright-txt {
  padding: 15px;
}

.footer-nav {
  background-color: #e2e8e8;
  border-radius: 7px 7px 7px 7px;
  padding: 2px 4px 2px 4px;
  margin-right: 3px;
}

.footer-logo-image {
  width: 90px;
  height: 50px;
}
